* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #f8f9fa;
    position: relative;
    font-family: 'Cabin Sketch', cursive, sans-serif;
  }
  
  .heading-primary {
    font-family: 'Cabin Sketch', cursive, sans-serif;
    color: #051422;
    text-align: center;
    font-size: 52px;
    margin-top: 15px;
    font-weight: 600;
  }

  .subheading {
    font-family: 'Cabin Sketch', cursive, sans-serif;
    text-align: center;
    font-size: 32px;
    color: #051422;
    font-weight: 500;
  }
  
  .paprika {
    border: #495057;
    border: 0.5px solid rgba(0, 0, 0, 0.05);
  }

  .label {
    display: flex;
    width: 1000px;
    justify-content: center;
    gap: 30px;
    margin: 32px auto;
  }
  
  .btn {
    font-family: 'Cabin Sketch', cursive, sans-serif;
    border: none;
    padding: 10px 20px;
    display: inline-block;
    font-size: 18px;
  }

  .btn:hover {
    background-color: #1864ab;
    color: #fff;
  }
  
  .color {
    background-color: #a5d8ff;
  }
  
  .slider-div {
    position: absolute;
    top: 30%;
    left: 26%;
    padding: 0 11px;
    margin-bottom: 32px;
  }
  
  .slider-value {
    display: flex;
    flex-direction: column;
    width: 150px;
    align-items: center;
    position: absolute;
    gap: 10px;
    background-color: #a5d8ff;
    border-radius: 10px;
    padding: 30px 10px;
  }
  
  .heading {
    color: #1864ab;
    font-weight: 600;
  }

  .value {
    font-weight: 600;
  }
  
  .input {
    width: 100%;
  }
  
  .btn {
    color: #1864ab;
    border-radius: 20px;
    font-weight: 600;
  }
  
  .btnApply {
    margin-top: 12px;
    margin-bottom: -5px;
  }

  .footer {
    font-family: sans-serif;
    color: #adb5bd;
    text-align: center;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/
    height: 40px;
  }